    
    </body>
    <footer class="footer footer-big footer-color-black" data-color="black">
        <div class="container">
            <hr>
            <div class="copyright">
                 © <script> document.write(new Date().getFullYear()) </script> Holy Guns | Handybook
            </div>
        </div>
    </footer>
</html>