<%- include("./partials/header.ejs"); %>

<div class="section section-header">
    <div class="ad-page parallax filter filter-color-black">
        <div class="headerFilter">
        <div class="image"
            style="background-image: url('/img/header-1.jpg'); background-size: auto;">
        </div>
        </div>

    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-9">
                <div class="fac-card">
                    <article class="blog-grid-itm__text">
                        <div class="card-info ad-card-title">
                            <p class="ad-title" >Grafician in caramida</p>
                        </div>
                        <div class="ad-cover">
                            <img src="http://localhost/It-Labs/dist/img/uploads/1605696030-article-bg-1.jpg">
                        </div>
                        <div class="card-info ad-card-info">
                            <div class="info-desc">
                                <p class="ad-title">Service offer description</p>
                                <span>
                                    <span>STARTING AT</span>
                                    <span class="price-ads">$69/h</span>
                                </span>
                            </div>
                            <div class="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem donec massa sapien faucibus et molestie ac feugiat. In est ante in nibh mauris cursus mattis molestie a. Fames ac turpis egestas sed tempus urna et pharetra. Elit pellentesque habitant morbi tristique senectus et netus et. Ultricies lacus sed turpis tincidunt id. Enim ut tellus elementum sagittis vitae et leo. Neque volutpat ac tincidunt vitae semper quis lectus nulla at. Integer malesuada nunc vel risus commodo viverra maecenas accumsan. In cursus turpis massa tincidunt dui ut. Arcu ac tortor dignissim convallis aenean et tortor. Ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet. Vitae elementum curabitur vitae nunc sed velit dignissim. Sed odio morbi quis commodo odio aenean sed adipiscing. Nisl tincidunt eget nullam non nisi. Imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor. Adipiscing commodo elit at imperdiet dui accumsan sit amet. Sed blandit libero volutpat sed. Urna et pharetra pharetra massa massa ultricies. Elit pellentesque habitant morbi tristique senectus et netus et. Lectus urna duis convallis convallis tellus id. Nunc mattis enim ut tellus elementum sagittis vitae et. Enim sit amet venenatis urna cursus eget nunc scelerisque viverra. Ac auctor augue mauris augue neque gravida. Leo vel fringilla est ullamcorper eget nulla facilisi. Consequat semper viverra nam libero justo laoreet sit. Orci ac auctor augue mauris augue neque. Arcu risus quis varius quam quisque id. Nunc scelerisque viverra mauris in aliquam sem fringilla ut. Egestas dui id ornare arcu odio ut sem nulla pharetra. Orci nulla pellentesque dignissim enim sit amet venenatis urna. Iaculis urna id volutpat lacus laoreet non curabitur. Sollicitudin nibh sit amet commodo. Nisl condimentum id venenatis a. Dolor sit amet consectetur adipiscing elit duis tristique. Nunc faucibus a pellentesque sit amet porttitor eget. Sit amet commodo nulla facilisi nullam vehicula ipsum. Nunc id cursus metus aliquam eleifend mi in nulla posuere. Praesent tristique magna sit amet purus gravida. Fermentum iaculis eu non diam. Lorem sed risus ultricies tristique nulla aliquet. Feugiat nibh sed pulvinar proin gravida hendrerit. Imperdiet proin fermentum leo vel orci. Nibh venenatis cras sed felis eget velit aliquet sagittis id. Volutpat odio facilisis mauris sit amet massa vitae tortor. Eu facilisis sed odio morbi quis commodo. Odio morbi quis commodo odio aenean sed adipiscing diam donec. Faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. In mollis nunc sed id semper risus in hendrerit gravida. Feugiat in fermentum posuere urna nec tincidunt. Vitae suscipit tellus mauris a diam. Vestibulum sed arcu non odio euismod lacinia at. Ultrices dui sapien eget mi. Sit amet cursus sit amet dictum sit amet justo donec. Vitae sapien pellentesque habitant morbi tristique senectus et. Velit dignissim sodales ut eu sem integer vitae. Facilisis magna etiam tempor orci eu. Pellentesque adipiscing commodo elit at imperdiet dui accumsan sit amet. Mauris a diam maecenas sed enim ut sem viverra aliquet. Laoreet suspendisse interdum consectetur libero. Tellus molestie nunc non blandit massa enim nec dui nunc. Arcu odio ut sem nulla pharetra diam sit. Tristique magna sit amet purus gravida quis blandit turpis. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Tellus cras adipiscing enim eu turpis egestas pretium. Nibh cras pulvinar mattis nunc. Senectus et netus et malesuada.</p>
                            </div>
                            <p class="ad-title">About seller</p>
                            <hr>
                            <div class="ad-article-info">
                                <a href="#">
                                    <img src="http://localhost/It-Labs/dist/img/cosmin-avatar.jpg">
                                    <span>Cosmin</span>
                                    <span>-</span>
                                    <span>Grafician caramida</span>
                                    <span class="ad-rating">
                                        <i class="fas fa-star"></i>
                                        <span>3.5/5</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-3">
                <div class="fac-card">
                    <article class="blog-grid-itm__text">
                        <div class="ad-promo">
                            <p>Promoted ads</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <article class="blog-grid-itm__text">
                        <div class="article-bg">
                            <a href="#">
                                <img src="http://localhost/It-Labs/dist/img/uploads/1605702254-article-bg-2.jpg">
                            </a>
                        </div>
                        <div class="card-info">
                            <div class="article-info">
                                <a href="#">
                                    <img src="http://localhost/It-Labs/dist/img/cosmin-avatar.jpg">
                                    <span>Cosmin</span>
                                </a>
                                <span class="ad-rating">
                                    <i class="fas fa-star"></i>
                                    <span>3.5/5</span>
                                </span>
                            </div>
                            <a href="#">
                                <h4>Grafician caramida</h4>
                            </a>
                            <div class="article-content">
                                <a href="#">
                                    <p>O sa-ti construiesc casa visurilor tale din boltari si 3 kg de ciment, oh da da da.</p>
                                </a>
                            </div>
                            <span class="author-price">$69/h</span>
                            <span class="author-text">STARTING AT</span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <article class="blog-grid-itm__text">
                        <div class="article-bg">
                            <a href="#">
                                <img src="http://localhost/It-Labs/dist/img/uploads/1605702254-article-bg-2.jpg">
                            </a>
                        </div>
                        <div class="card-info">
                            <div class="article-info">
                                <a href="#">
                                    <img src="http://localhost/It-Labs/dist/img/cosmin-avatar.jpg">
                                    <span>Cosmin</span>
                                </a>
                                <span class="ad-rating">
                                    <i class="fas fa-star"></i>
                                    <span>3.5/5</span>
                                </span>
                            </div>
                            <a href="#">
                                <h4>Grafician caramida</h4>
                            </a>
                            <div class="article-content">
                                <a href="#">
                                    <p>O sa-ti construiesc casa visurilor tale din boltari si 3 kg de ciment, oh da da da.</p>
                                </a>
                            </div>
                            <span class="author-price">$69/h</span>
                            <span class="author-text">STARTING AT</span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <article class="blog-grid-itm__text">
                        <div class="article-bg">
                            <a href="#">
                                <img src="http://localhost/It-Labs/dist/img/uploads/1605702254-article-bg-2.jpg">
                            </a>
                        </div>
                        <div class="card-info">
                            <div class="article-info">
                                <a href="#">
                                    <img src="http://localhost/It-Labs/dist/img/cosmin-avatar.jpg">
                                    <span>Cosmin</span>
                                </a>
                                <span class="ad-rating">
                                    <i class="fas fa-star"></i>
                                    <span>3.5/5</span>
                                </span>
                            </div>
                            <a href="#">
                                <h4>Grafician caramida</h4>
                            </a>
                            <div class="article-content">
                                <a href="#">
                                    <p>O sa-ti construiesc casa visurilor tale din boltari si 3 kg de ciment, oh da da da.</p>
                                </a>
                            </div>
                            <span class="author-price">$69/h</span>
                            <span class="author-text">STARTING AT</span>
                        </div>
                    </article>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="section" style="padding: 20px 0;">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>See more ads</h2>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="row">

<!-- AICI IL BAGI IN FOREACH -->
            <div class="col-md-3">
                <div class="card">
                    <article class="blog-grid-itm__text">
                        <div class="article-bg">
                            <a href="#">
                                <img src="http://localhost/It-Labs/dist/img/uploads/1605702254-article-bg-2.jpg">
                            </a>
                        </div>
                        <div class="card-info">
                            <div class="article-info">
                                <a href="#">
                                    <img src="http://localhost/It-Labs/dist/img/cosmin-avatar.jpg">
                                    <span>Cosmin</span>
                                </a>
                                <span class="ad-rating">
                                    <i class="fas fa-star"></i>
                                    <span>3.5/5</span>
                                </span>
                            </div>
                            <a href="#">
                                <h4>Grafician caramida</h4>
                            </a>
                            <div class="article-content">
                                <a href="#">
                                    <p>O sa-ti construiesc casa visurilor tale din boltari si 3 kg de ciment, oh da da da.</p>
                                </a>
                            </div>
                            <span class="author-price">$69/h</span>
                            <span class="author-text">STARTING AT</span>
                        </div>
                    </article>
                </div>
            </div>
<!-- AICI IL BAGI IN FOREACH -->
<div class="col-md-3">
    <div class="card">
        <article class="blog-grid-itm__text">
            <div class="article-bg">
                <a href="#">
                    <img src="http://localhost/It-Labs/dist/img/uploads/1605702254-article-bg-2.jpg">
                </a>
            </div>
            <div class="card-info">
                <div class="article-info">
                    <a href="#">
                        <img src="http://localhost/It-Labs/dist/img/cosmin-avatar.jpg">
                        <span>Cosmin</span>
                    </a>
                    <span class="ad-rating">
                        <i class="fas fa-star"></i>
                        <span>3.5/5</span>
                    </span>
                </div>
                <a href="#">
                    <h4>Grafician caramida</h4>
                </a>
                <div class="article-content">
                    <a href="#">
                        <p>O sa-ti construiesc casa visurilor tale din boltari si 3 kg de ciment, oh da da da.</p>
                    </a>
                </div>
                <span class="author-price">$69/h</span>
                <span class="author-text">STARTING AT</span>
            </div>
        </article>
    </div>
</div>
<div class="col-md-3">
    <div class="card">
        <article class="blog-grid-itm__text">
            <div class="article-bg">
                <a href="#">
                    <img src="http://localhost/It-Labs/dist/img/uploads/1605702254-article-bg-2.jpg">
                </a>
            </div>
            <div class="card-info">
                <div class="article-info">
                    <a href="#">
                        <img src="http://localhost/It-Labs/dist/img/cosmin-avatar.jpg">
                        <span>Cosmin</span>
                    </a>
                    <span class="ad-rating">
                        <i class="fas fa-star"></i>
                        <span>3.5/5</span>
                    </span>
                </div>
                <a href="#">
                    <h4>Grafician caramida</h4>
                </a>
                <div class="article-content">
                    <a href="#">
                        <p>O sa-ti construiesc casa visurilor tale din boltari si 3 kg de ciment, oh da da da.</p>
                    </a>
                </div>
                <span class="author-price">$69/h</span>
                <span class="author-text">STARTING AT</span>
            </div>
        </article>
    </div>
</div>
<div class="col-md-3">
    <div class="card">
        <article class="blog-grid-itm__text">
            <div class="article-bg">
                <a href="#">
                    <img src="http://localhost/It-Labs/dist/img/uploads/1605702254-article-bg-2.jpg">
                </a>
            </div>
            <div class="card-info">
                <div class="article-info">
                    <a href="#">
                        <img src="http://localhost/It-Labs/dist/img/cosmin-avatar.jpg">
                        <span>Cosmin</span>
                    </a>
                    <span class="ad-rating">
                        <i class="fas fa-star"></i>
                        <span>3.5/5</span>
                    </span>
                </div>
                <a href="#">
                    <h4>Grafician caramida</h4>
                </a>
                <div class="article-content">
                    <a href="#">
                        <p>O sa-ti construiesc casa visurilor tale din boltari si 3 kg de ciment, oh da da da.</p>
                    </a>
                </div>
                <span class="author-price">$69/h</span>
                <span class="author-text">STARTING AT</span>
            </div>
        </article>
    </div>
</div>



        </div>
    </div>
</div>

<%- include("./partials/footer.ejs"); %>