<%- include("./partials/header.ejs"); %>

<div class="section section-header">
    <div class="parallax filter filter-color-black">
        <div class="headerFilter">
        <div class="image"
            style="background-image: url('/img/header-1.jpg')">
        </div>
        </div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h3>☞ Here expertise and convenience meet ☜</h2>
                    <h1 class="title-modern">Handybook</h1>
                        <p>Let us know how we can help you!</p>
                    <div class="search-bar">
                        <form action="#">
                          <div class="row">
                            <div class="form-group rightLine col-lg-2  col-sm-2 col-md-2">
                                <div class="btn-group bootstrap-select listing-categories dropdown">
                                  <button class="btn dropdown-toggle bs-placeholder btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span id="locationtext">County</span> </button>
                                  <ul class="dropdown-menu locationLink" aria-labelledby="dropdownMenu1">
                                    <li><p>Alba</p></li>
                                    <li role="separator" class="divider"></li>
                                    <li><p>Cluj</p></li>
                                    <li role="separator" class="divider"></li>
                                    <li><p>Sibiu</p></li>
                                    <li role="separator" class="divider"></li>
                                    <li><p>Constanta</p></li>
                                  </ul>
                                </div>
                              </div>
                            <div class="form-group rightLine col-lg-2  col-sm-2 col-md-2">
                              <div class="btn-group bootstrap-select listing-categories dropdown">
                                <button class="btn dropdown-toggle bs-placeholder btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span id="locationtext">City</span> </button>
                                <ul class="dropdown-menu locationLink" aria-labelledby="dropdownMenu1">
                                  <li><p>Alba Iulia</p></li>
                                  <li role="separator" class="divider"></li>
                                  <li><p>Blaj</p></li>
                                  <li role="separator" class="divider"></li>
                                  <li><p>Sebes</p></li>
                                  <li role="separator" class="divider"></li>
                                  <li><p>Zlatna</p></li>
                                </ul>
                              </div>
                            </div>
                            <div class="form-group col-lg-6  col-sm-6 col-md-6">
                              <input type="search" name="search" placeholder="What services do you seek?">
                            </div>
                            <div class="form-group col-lg-2  col-sm-2 col-md-2">
                              <input type="submit" value="Search" class="submit">
                            </div>
                          </div>
                        </form>
                      </div>
                </div>
                
            </div>

        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>Our Values</h2>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <h3>☟</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="iconLanding">
                        <i class="pe-7s-map-2" style="color: #0a66c2; font-size: 75px;"></i>
                    </div>
                    <h3>Close to you</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="iconLanding">
                        <i class="pe-7s-piggy" style="color: #0a66c2; font-size: 75px;"></i>
                    </div>
                    <h3>Economy</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="iconLanding">
                        <i class="pe-7s-like2" style="color: #0a66c2; font-size: 75px;"></i>
                    </div>
                    <h3>Fairness</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-our-team-freebie">
    <div class="parallax filter filter-color-black">
        <div class="image" style="background-image:url('/img/backgroundpattern.jpg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>Top handymen</h2>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h3>☟</h3>
                    </div>
                </div>

                <div class="team">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="/img/faces/face_1.jpg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Tina</h3>
                                                <p class="small-text">Lorem ipsum</p>
                                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In est rem soluta cum repellat, veniam sint! Enim id omnis, obcaecati impedit minus quia exercitationem corporis architecto dolor, harum eaque quis.</p>
                                            </div>
                                            <button class="buttonContact"href="#">Contact</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="/img/faces/face_4.jpg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Andrew</h3>
                                                <p class="small-text">Lorem ipsum</p>
                                                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur maxime, dolor tempore, inventore eligendi debitis dolore repellat magnam qui harum adipisci  suscipit labore accusamus nobis.</p>
                                            </div>
                                            <button class="buttonContact"href="#">Contact</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="/img/faces/face_3.jpg"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Michelle</h3>
                                                <p class="small-text">Lorem ipsum</p>
                                                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, dolorum autem? Doloremque, corrupti obcaecati impedit iusto pariatur, nesciunt sit accusamus non ut nihil soluta.</p>
                                            </div>
                                            <button class="buttonContact"href="#">Contact</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-our-clients-freebie">
    <div class="container">
        <div class="title-area">
            <h5 class="subtitle text-gray">Don't take our word, listen to</h5>
            <h2>Our users</h2>
            <h3>☟</h3>
        </div>

        <ul class="nav nav-text" role="tablist">
            <li class="active">
                <a href="#testimonial1" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="..." class="img-circle" src="/img/faces/face_5.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="#testimonial2" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="..." class="img-circle" src="/img/faces/face_6.jpg"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="#testimonial3" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="..." class="img-circle" src="/img/faces/face_2.jpg"/>
                    </div>
                </a>
            </li>
        </ul>


        <div class="tab-content">
            <div class="tab-pane active" id="testimonial1">
                <p class="description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil accusamus repellat ipsa at, quae asperiores voluptas quidem a culpa possimus ab nostrum vel nesciunt nulla architecto ad incidunt in exercitationem!
                </p>
            </div>
            <div class="tab-pane" id="testimonial2">
                <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam maxime, explicabo perspiciatis ipsa dicta illum quos, provident a commodi officiis atque reiciendis in quia qui, amet dolorum corrupti mollitia ea!
                </p>
            </div>
            <div class="tab-pane" id="testimonial3">
                <p class="description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab laboriosam cum asperiores possimus ea eaque totam facilis quidem molestias dolorem est, beatae at temporibus alias ratione corrupti earum aut iusto!
                </p>
            </div>

        </div>

    </div>
</div>

<%- include("./partials/footer.ejs"); %>