<%- include("../partials/header.ejs"); %>

<div class="section section-header">
    <div class="parallax filter filter-color-black">
        <div class="image"
            style="background-image: url('/img/header-1.jpg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="login-title-area">
                    <h1 class="title-modern">Sign In</h1>
                    <div class="separator line-separator">♦</div>
                </div>
                <form acction="#" method="POST" class="sign-in-form">
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="E-mail">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password">
                    </div>
                    <input type="submit" value="Login" class="btn btn-white">
                </form>
                <h3 class="reg-info">You don't have an account? <a href="/register">Register now!</a></h3>
            </div>

        </div>
    </div>
</div>

<%- include("../partials/footer.ejs"); %>