<%- include("./partials/header.ejs"); %>

<div class="navbar-name">
    <a href="#" href="javascript:void(0);" onclick="hideMenu()">
        <i class="fas fa-bars"></i>
    </a>
    <span>Hello, Admin!</span>
</div>
<section class="acp-data">
    <div class="acp-content">
        <div class="acp-tbl-header">
            <h3>Dashboard</h3>
        </div>
        <div class="acp-container">
            <table>
                <tr>
                    <th>Helo</th>
                    <th>From</th>
                    <th>Other</th>
                    <th>Side</th>
                </tr>
                <tr>
                    <td>Bau</td>
                    <td>Miau</td>
                    <td>Hau</td>
                    <td>CAU</td>
                </tr>
                <tr>
                    <td>Bau</td>
                    <td>Miau</td>
                    <td>Hau</td>
                    <td>CAU</td>
                </tr>
                <tr>
                    <td>Bau</td>
                    <td>Miau</td>
                    <td>Hau</td>
                    <td>CAU</td>
                </tr>
                <tr>
                    <td>Bau</td>
                    <td>Miau</td>
                    <td>Hau</td>
                    <td>CAU</td>
                </tr>
            </table>
        </div>
    </div>
</section>

<%- include("./partials/footer.ejs"); %>